{% extends "base.html" %}

{% block content %}
    <h1>Сайты</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-hover text-nowrap" data-test="urls">
            <thead>
            <tr>
              <th>ID</th>
              <th>Имя</th>
              <th>Последняя проверка</th>
              <th>Код ответа</th>
            </tr>
            </thead>
            <tbody>
              {% for record in records %}
                <tr>
                  <td>{{ record[0] }}</td>
                  <td><a href="{{ url_for('view_url', id=record[0]) }}">{{ record[1] }}</a></td>
                  <td>{{ record[2].strftime('%Y-%m-%d') if record[2] else '' }} </td>
                  <td>{{ '' if record[3] is none else record[3] }} </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
